{% extends 'base.html.twig' %}

{% block title %}tasks{% endblock %}

{% block body %}
<h1>Your task list</h1>
<ul>
    {% for task in tasks -%}
        <li>{{ task.title }}</li>
    {%- endfor %}
</ul>

<h1>Add a task</h1>
<turbo-frame id="task-form">
{{ form_start(form, {action: path('app_default_new')}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</turbo-frame>

{% endblock %}
